/*
	Project Name :
	Author Company : SpecThemes
	Project Date: 25 Mar, 2020
	Template Developer: vsafaryan50@gmail.com
*/
/*
==============================================
TABLE OF CONTENT
==============================================

0. Imports
1. Headings
2. Header
3. Hero
4. Info
5. Services
6. Specialize
7. Feedback
8. Newsletter
9. Footer
==============================================
[END] TABLE OF CONTENT
==============================================
*/
/*-----------------------------------------
0. Imports
-------------------------------------------*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&display=swap');
/*Default Styles*/
@import url("default.css");

::-webkit-input-placeholder {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.25);
  padding-left: 20px;
}

:-ms-input-placeholder {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.25);
  padding-left: 20px;
}

::placeholder {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.25);
  padding-left: 20px;
}

/*-----------------------------------------
1. Headings
-------------------------------------------*/
.s-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #1192EE;
}

.fs-36 {
  font-size: 36px;
}

.s-title-sm {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #1192EE;
}

.s-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.055em;
  color: rgba(0, 0, 0, 0.5)
}

.btnstyle {
  color: #fff;
  border-radius: 5px;
  height: 45px;
}

.demobtn-outline {
  color: #1192EE;
  border: 2px solid #1192EE;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 70px;
}

.demobtn-outline:hover {
  color: #fff;
  border: 0px;
}

.port-btn-style {
  border: 1px solid #000000;
  border-radius: 5px;
  height: 45px;
  margin-top: 20px;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.055em;
  color: #000000;
  transition: all 0.3s;
  margin-bottom: 40px;
}

.port-btn-style:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.hero-title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.hero-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.textcolor-bl {
  color: #000;
}

@media screen and (max-width: 400px) {
  .hero-title {
    font-size: 40px;
  }
}

/*-----------------------------------------
2. Header
-------------------------------------------*/
header {
  transition: all 1s;
  width: 100%;
  z-index: 10;
}

/*Nav Bar*/
nav {
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

@media screen and (max-width: 1300px) {
  .nav-links {
    width: 60%;
  }
}

.nav-links a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.055em;
  color: #000000;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 80px;
    height: calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -webkit-calc(100vh - 80px);
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
  background-color: #fff;
}

.fixedColor div nav {
  height: 80px;
  transition: all 0.5s;
}

.fixedColor {
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.90);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.linkbtn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 20px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(205, 192, 192, 1);
}

.m-item-active {
  font-weight: 500 !important;
}

/*-----------------------------------------
3. Hero
-------------------------------------------*/
#hero {
  padding: 135px 0 75px 0;
  width: 100%;
  background-image: linear-gradient(156.74deg, rgba(15, 15, 15, 0.96) 20.49%, rgba(6, 6, 6, 0.58) 99.56%), url("../img/content/about-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.align-right {
  text-align: right;
}

/*-----------------------------------------
4. Services
-------------------------------------------*/
#info {
  padding: 100px 0;
}

.infobox {
  padding: 35px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(205, 192, 192, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}

.infobox h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.infobox p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000000;
}

.back {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.cl1 {
  background: #1192EE;
}

.fcl1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #1192EE;
  float: right;
  margin-bottom: 20px;
}

.back img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.infoboxlg {
  padding: 35px;
}

.infoboxlg h4 {
  margin-bottom: 0px;
}

.infoboxlg h2 {
  margin-bottom: 20px;
}

.infoboxlg p {
  margin-bottom: 20px;
}

.infoboxlg img {
  margin: 50px 0;
}

/*-----------------------------------------
5. Services
-------------------------------------------*/
#services {
  padding-top: 65px;
  padding-bottom: 120px;
  background: #F9F9F9;
}

.serives-title h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  line-height: 29px;
  color: #000000;
}

.serives-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.services-image-1 img {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.services-image-2 img {
  position: absolute;
  right: 40px;
  bottom: -25px;
}

.nav-pills .nav-link {
  border-radius: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  border-radius: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  border-bottom: 2px solid #1192EE;
  padding: 0;
}

.nav-pills {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
}

.tab-pane {
  padding-left: 0;
}

.tab-pane h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.tab-pane p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

.btnstyle-2 {
  height: 39px;
  border: 1px solid #1192EE;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #1192EE;
  background-color: transparent;
}

@media only screen and (max-width: 992px) {
  .nav-pills {
    justify-content: space-around;
  }

  .nav-pills .nav-link {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .services-image-2 {
    display: none;
  }

  .services-image-1 {
    text-align: center;
  }

  .services-tabs {
    margin-top: 50px;
  }

  .s-mrt-80 {
    margin-top: 30px;
  }

  .nav-pills {
    justify-content: space-around;
  }

  .nav-pills .nav-link {
    margin-top: 15px;
  }

  #services {
    padding-bottom: 65px;
  }
}

/*-----------------------------------------
6. Specialize
-------------------------------------------*/
#specialize {
  padding-top: 160px;
  padding-bottom: 160px;
}

.specialize-boxs {
  position: relative;
}

.medium-cir {
  position: absolute;
  top: -25%;
  left: 35%;
  background: rgba(65, 187, 255, 0.76);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  z-index: 2;
}

.smoll-cir {
  position: absolute;
  top: 10%;
  left: 80%;
  background: #1192EE;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
}

.big-cir {
  position: relative;
  top: 90px;
  left: 50%;
  background: #1192EE;
  width: 277px;
  height: 277px;
  border-radius: 50%;
}

.cir {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.cir p {
  margin-bottom: 0 !important;
}

.cir-count {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 55.7747px;
  line-height: 74px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.cir-text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25.0986px;
  line-height: 33px;
  letter-spacing: 0.055em;
  color: #FFFDFD;
}

@media only screen and (max-width: 992px) {
  .big-cir {
    top: 70px;
    left: 50px;
  }

  .medium-cir {
    top: -25%;
    left: -5%;
  }

  .smoll-cir {
    top: 10%;
    left: 55%;
  }
}

@media only screen and (max-width: 767px) {
  .big-cir {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .medium-cir {
    top: -15%;
    left: 20%;
  }

  .smoll-cir {
    top: 10%;
    left: 55%;
  }

  .specialize-text {
    margin-bottom: 85px;
  }

  #specialize {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 160px;
  }
}

@media only screen and (max-width: 500px) {
  .medium-cir {
    left: 5%;
    width: 180px;
    height: 180px;
  }

  .smoll-cir {
    top: 30%;
    left: 65%;
    width: 110px;
    height: 110px;
  }

  .cir-count {
    font-size: 40px;
    line-height: 50px;
  }

  .cir-text {
    font-size: 20px;
  }
}

/*-----------------------------------------
7. Feedback
-------------------------------------------*/
#feedback {
  padding: 100px 0;
  background: #F9F9F9;
}

.feedback-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.text-cent {
  text-align: center;
}

.rev-item img {
  width: auto !important;
  display: initial !important;
}

.op {
  opacity: 0.5;
}

.rev-item {
  padding: 65px 65px;
  width: 90%;
  background-color: #fff;
  box-shadow: -8px -8px 16px rgba(228, 228, 228, 0.52), 8px 8px 16px rgba(176, 171, 171, 0.45);
  border-radius: 5px;
  margin-top: 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 45px;
}

.cl.rev-item {
  position: absolute;
  margin-top: 0;
  width: 60%;
  height: 60%;
  margin-bottom: 0;
  padding: 0 35px;
  background-color: #fff !important;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hed-rev {
  display: flex;
}

.feed-stars {
  margin-left: 15px;
}

.author {
  font-style: normal;
  font-weight: 300;
  font-size: 11.9821px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #000000;
  margin-top: 5px;
}

.author span {
  font-weight: 900;
}

.rev-name {
  margin-top: 15px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.055em;
  color: #000000;
  text-align: right;
}

.rev-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.055em;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FFFFFF;
  border: 1px solid #1192EE;
  transform: scale(1.8);
}

.owl-carousel {
  display: block;
}

.owl-nav {
  display: none;
}

.owl-carousel .owl-dots.disabled {
  display: block;
}

.owl-theme .owl-dots .owl-dot span {
  background: rgba(17, 146, 238, 0.3);
}

@media only screen and (max-width: 767px) {
  .cl.rev-item {
    width: 100%;
    height: 100%;
  }

  .rev-item {
    padding: 0px;
    width: 100%;
  }
}

/*-----------------------------------------
8. Newsletter
-------------------------------------------*/
#news {
  padding: 75px 0;
  background: linear-gradient(101.24deg, rgba(29, 42, 55, 0.94) 1.5%, rgba(29, 42, 55, 0.86) 99.75%), url('../img/content/newsletter.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.news-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}

.news-form {
  margin-top: 70px;
}

.news-btn-send {
  margin-right: 20px;
}

.news-input {
  color: #fff !important;
  height: 56px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
}

.news-input:focus {
  color: #fff !important;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
  background-color: transparent !important;
}

.send-req {
  width: 217px;
  height: 56px;
  border-radius: 0px 3px 3px 0px;
}

@media screen and (max-width: 768px) {
  .send-req span {
    display: none;
  }

  .send-req {
    width: 60px;
  }

  .news-btn-send {
    margin-right: 0px;
  }
}

/*-----------------------------------------
9. Footer
-------------------------------------------*/
footer {
  padding-top: 140px;
  background: #1D2A37;
}

.foot-col-1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.65);
}

.social-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.social-footer li {
  margin-right: 40px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.social-footer li a {
  color: #1D2A37;
}

.footer-col-clone h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}

.footer-col-clone ul li {
  margin-bottom: 20px;
}

.footer-col-clone ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.65);
}

.foot-bottom p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
    padding-top: 60px;
  }

  .social-footer {
    justify-content: center;
  }

  .foot-bottom p {
    margin-top: 35px;
  }
}
