/*
	Project Name :
	Author Company : SpecThemes
	Project Date: 25 Mar, 2020
	Template Developer: vsafaryan50@gmail.com
*/
/*
==============================================
TABLE OF CONTENT
==============================================

0. Imports
==============================================
[END] TABLE OF CONTENT
==============================================
*/
/*-----------------------------------------
0. Imports
1. headings
2. Header
3. Hero
4. Info
5. Brends
6. Player
7. Services
8. Specialize
9. Counter
10. Serices Boxs
11. Portfolio
12. Contact
13. Team
14. Blog
15. Footer
-------------------------------------------*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
/*Default Styles*/
@import url("default.css");

/*-----------------------------------------
1. Headings
-------------------------------------------*/
.h-2-style-text-color {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.055em;
  color: #7635F3;
}

.h-2-style-text-bold {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #000000;
}

.h-2-style-text-bold span {
  font-weight: bold;
}

.h-2-style-text-par {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

.h-2-btn-style {
  background: #7635F3;
  border: 1px solid #7635F3;
  border-radius: 5px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  height: 39px;
}

.styel-2-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

/*-----------------------------------------
2. Header
-------------------------------------------*/
header {
  transition: all 1s;
  width: 100%;
  z-index: 10;
}

nav {
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 80px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

@media screen and (max-width: 1300px) {
  .nav-links {
    width: 60%;
  }
}

.nav-links a {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.055em;
  color: #000000;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 80px;
    height: calc(100vh - 120px);
    height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 80px);
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  nav {
    justify-content: space-between;
  }
}

.nav-active {
  transform: translateX(0%);
  background-color: #fff;
}

.fixedColor div nav {
  height: 80px;
  transition: all 0.5s;
}

.fixedColor {
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.90);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.linkbtn {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 8px 20px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(205, 192, 192, 1);
}

/*-----------------------------------------
3. Hero
-------------------------------------------*/
#hero {
  background-image: url("../img/content/layer-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F7F4FB;
  position: relative;
}

.heroinfo {
  margin-top: 280px;
  margin-bottom: 250px;
}

.herotitle {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 45px;
  color: #000000;
}

.herotitle span {
  position: relative;
  z-index: 1;
}

.herotitle span:after {
  background: #FAD9ED;
  transform: rotate(-73deg);
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  z-index: -1;
  left: -20%;
  top: 20%;
}

.herop {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #000000;
}

.btnstyle {
  margin-top: 20px;
  border: 1px solid #000000;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  padding: 8px 60px;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heropic {
  margin-top: 70px;
  background-image: url("../img/content/hero-elips.png");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: contain;
}

.elips-1 {
  position: absolute;
  left: 40%;
  top: 65%;
}

.elips-2 {
  position: absolute;
  left: 55%;
  top: 75%;
}

@media only screen and (max-width: 1200px) {
  .elipse-pos {
    display: none;
  }

  .myrow {
    align-items: center;
  }

  .heroinfo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .heropic {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .herotitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  #hero {
    padding-bottom: 50px;
  }

  .heroinfo {
    text-align: center;
    margin-top: 25px;
  }
}

/*-----------------------------------------
4. Info
-------------------------------------------*/
#info {
  background-image: url("../img/content/mask-info.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: 100px;
}

.infobg {
  background-image: url("../img/content/group-489.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.infobox {
  padding: 35px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(205, 192, 192, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}

.infobox h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.infobox p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000000;
}

.back {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.cl1 {
  background: #F9D6EE;
}

.cl2 {
  background: #CCEEF0;
}

.cl3 {
  background: #D1BDF4;
}

.fcl1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFB3E7;
  float: right;
  margin-bottom: 20px;
}

.fcl2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #92CBCE;
  float: right;
  margin-bottom: 20px;
}

.fcl3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D1BDF4;
  float: right;
  margin-bottom: 20px;
}

.back img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.infoboxlg {
  padding: 35px;
}

.infoboxlg h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.055em;
  color: #7A2A5F;
  margin-bottom: 20px;
}

.infoboxlg h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}

.infoboxlg h2 span {
  font-weight: bold;
}

.infoboxlg p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

/*-----------------------------------------
5. Brends
-------------------------------------------*/
.brends-item img {
  width: auto !important;
  display: initial !important;
}
.owl-item{
  opacity: 0.5;
  transition: all 1s;
}
.owl-item:hover{
  opacity: 1;
  transition: all 1s;
}
/*-----------------------------------------
6. Player
-------------------------------------------*/
#player {
  background-image: url("../img/content/player-layer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.player-text h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14.413px;
  line-height: 19px;
  letter-spacing: 0.055em;
  color: #3C91A9;
}

.player-text h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 41.1799px;
  line-height: 54px;
  letter-spacing: 0.02em;
  color: #000000;
}

.player-text h2 span {
  font-weight: bold;
}

.player-text p {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16.472px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #000000;
}

.video-element {
  width: 100%;
  height: 350px;
  position: relative;
}

.video-element iframe,
.video-element__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-element__poster {
  background-image: url("../img/content/player-cover.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.video-element__poster p {
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  color: #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  right: 15%;
  top: 20%;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  animation: playbtn 2s ease;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
}

@keyframes playbtn {
  0% {
    opacity: 0.8;
    transform: scale(1) translate(-50%, -50%);
  }

  50% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }

  100% {
    opacity: 0.8;
    transform: scale(1) translate(-50%, -50%);
  }
}
@media only screen and (max-width: 992px) {
  .player-text {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #player {
    padding-top: 0;
    text-align: center;
  }

  .player-text {
    margin-top: 40px;
  }
}

/*-----------------------------------------
7. Services
-------------------------------------------*/
#services {
  padding-top: 65px;
  padding-bottom: 120px;
  background: #F7F4FB;
}

.serives-title h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  line-height: 29px;
  color: #000000;
}

.serives-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.services-image-1 img {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.services-image-2 img {
  position: absolute;
  right: 40px;
  bottom: -25px;
}

.nav-pills .nav-link {
  border-radius: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  border-radius: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  border-bottom: 2px solid #7635F3;
  padding: 0;
}

.nav-pills {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
}

.tab-pane {
  padding-left: 0;
}

.tab-pane h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.tab-pane p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

.btnstyle-2 {
  height: 39px;
  border: 1px solid #7635F3;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #7635F3;
  background-color: transparent;
}
@media only screen and (max-width: 992px) {
  .nav-pills {
    justify-content: space-around;
  }

  .nav-pills .nav-link {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .services-image-2 {
    display: none;
  }

  .services-image-1 {
    text-align: center;
  }

  .services-tabs {
    margin-top: 50px;
  }

  .s-mrt-80 {
    margin-top: 30px;
  }

  .nav-pills {
    justify-content: space-around;
  }

  .nav-pills .nav-link {
    margin-top: 15px;
  }

  #services {
    padding-bottom: 65px;
  }
}

/*-----------------------------------------
8. Specialize
-------------------------------------------*/
#specialize {
  background-image: url("../img/content/specialize-layer.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  padding-top: 160px;
  padding-bottom: 160px;
}

.specialize-boxs {
  position: relative;
}

.medium-cir {
  position: absolute;
  top: -25%;
  left: 35%;
  background: rgba(65, 187, 255, 0.76);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  z-index: 2;
}

.smoll-cir {
  position: absolute;
  top: 10%;
  left: 80%;
  background: #BAB4FB;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
}

.big-cir {
  position: relative;
  top: 90px;
  left: 50%;
  background: #FED645;
  width: 277px;
  height: 277px;
  border-radius: 50%;
}

.cir {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.cir p {
  margin-bottom: 0 !important;
}

.cir-count {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 55.7747px;
  line-height: 74px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.cir-text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25.0986px;
  line-height: 33px;
  letter-spacing: 0.055em;
  color: #FFFDFD;
}

@media only screen and (max-width: 992px) {
  .big-cir {
    top: 70px;
    left: 50px;
  }

  .medium-cir {
    top: -25%;
    left: -5%;
  }

  .smoll-cir {
    top: 10%;
    left: 55%;
  }
}

@media only screen and (max-width: 767px) {
  .big-cir {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .medium-cir {
    top: -15%;
    left: 20%;
  }

  .smoll-cir {
    top: 10%;
    left: 55%;
  }

  .specialize-text {
    margin-bottom: 85px;
  }

  #specialize {
    text-align: center;
    background-image: url("../img/content/specialize-layer.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 60px;
    padding-bottom: 160px;
  }
}
@media only screen and (max-width: 500px) {
  .medium-cir {
      left: 5%;
      width: 180px;
      height: 180px;
  }

  .smoll-cir {
    top: 30%;
    left: 65%;
    width: 110px;
    height: 110px;
  }
  .cir-count {
    font-size: 40px;
    line-height: 50px;
  }
  .cir-text {
    font-size: 20px;
  }

}
/*-----------------------------------------
9. Counter
-------------------------------------------*/
#counter {
  background-image: url("../img/content/count-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 130px;
  padding-bottom: 60px;
  background-size: cover;
}

.countboxs {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 200px;
}

.countnumb {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #000000;
}

.countinfo {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.125em;
  color: rgba(0, 0, 0, 0.71);
  margin-top: -20px;
  margin-left: 20px;
}

.c-box-1 {
  background-image: url("../img/icon/count-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.c-box-2 {
  background-image: url("../img/icon/count-2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.c-box-3 {
  background-image: url("../img/icon/count-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*-----------------------------------------
10. Serices Boxs
-------------------------------------------*/
#serices-boxs {
  background: #F7F4FB;
  padding-bottom: 200px;
  position: relative;
}

#serices-boxs:before {
  z-index: 1;
  position: absolute;
  content: "";
  background-image: url(../img/content/services-item-layer.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 60%;
  width: 200px;
  left: 250px;
  background-size: cover;
  height: 200px;
}

.blue-color {
  color: #41BBFF;
}

#serices-boxs .container {
  z-index: 2;
}

.box-top {
  margin-top: 100px;
}

.services-item {
  z-index: 2;
}

.services-item-box {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-category {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 10.4px;
  line-height: 14px;
  letter-spacing: 0.055em;
  color: rgba(0, 0, 0, 0.42);
  margin-left: 110px;
  margin-top: 20px;
}

.services-category:before {
  content: "";
  width: 41px;
  height: 1.5px;
  background-color: #7635F3;
  position: absolute;
  left: -55px;
  top: 5px;
}

.services-item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16.64px;
  line-height: 22px;
  letter-spacing: 0.055em;
  color: #000000;
  margin-left: 110px;
}

.sv-1 {
  background-image: url("../img/services/sv-1.png");
}

.sv-2 {
  background-image: url("../img/services/sv-2.png");
}

.sv-3 {
  background-image: url("../img/services/sv-3.png");
}

.sv-4 {
  background-image: url("../img/services/sv-4.png");
}

.services-item-info {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  opacity: 0.96;
  width: 35%;
  height: 100%;
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.services-item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.services-item-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
}

.services-item-info a {
  float: right;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .services-item-info {
    width: 50%;
  }

  #serices-boxs:before {
    display: none;
  }
}

/*-----------------------------------------
11. Portfolio
-------------------------------------------*/
#portfolio {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
}

.port-layer {
  position: absolute;
  top: -20%;
  width: 100%;
}

.portfolioall {
  text-align: right;
}

.port-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.port-item a {
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  #portfolio, .portfolioall {
    text-align: center;
  }

  #portfolio {
    padding-top: 100px;
  }

  .btnstyle-2 {
    margin-top: 20px !important;
  }

  .port-layer {
    position: absolute;
    top: -5%;
    width: 100%;
    left: 0%;
  }
}
@media only screen and (max-width: 400px) {
  .port-layer {
    top: -2%;
  }
}
/*-----------------------------------------
12. Contact
-------------------------------------------*/
#contact {
  background-image: url(../img/content/contact-layer.png);
  background-repeat: no-repeat;
  background-position: 50% 120%;
  background-size: 80%;
  padding-top: 240px;
  padding-bottom: 50px;
}

.contact-form-sec {
  position: relative;
}

.contact-number {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #000000;
}

form.contact-form {
  position: absolute;
  width: 90%;
  top: -65%;
  height: 520px;
  background: #FFFFFF;
  box-shadow: 3.96478px 3.96478px 19.8239px rgba(205, 192, 192, 0.2);
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 115px;
}

.form-control:focus {
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.24) !important;
}

.form-control {
  margin-top: 40px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.sendbtn {
  border-radius: 5px;
  height: 39px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13.8767px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: 0 !important;
  float: right;
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 11.8943px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 11.8943px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 11.8943px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  form.contact-form {
    position: initial;
    width: auto;
    top: 0;
    height: 440px;
    padding-top: 15px;
  }

  #contact {
    background-image: none;
    padding-top: 15px;
    padding-bottom: 65px;
  }

  .contact-form-sec {
    margin-bottom: 60px;
  }

  .contact-info {
    text-align: center;
  }
}

/*-----------------------------------------
13. Team
-------------------------------------------*/
#team {
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  background: #F7F4FB;
}

.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}

.team-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.team-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.team-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
}

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon li {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background-color: #1192EE;
  border-radius: 50%;
  line-height: 30px;
  transition: all 0.3s;
}

.social-icon li:hover {
  background-color: #2f2f2f;
  transition: all 0.3s;
}

.social-icon li a {
  color: #fff;
}

.team-img-1, .team-img-2 {
  position: relative;
}

.team-img-1:before {
  content: "Smart";
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #57E3EB;
  position: absolute;
  left: -10%;
  transform: rotate(-25deg);
  top: 50%;
}

.team-img-1:after {
  content: "Clever";
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #D1BDF4;
  transform: rotate(-38deg);
  position: absolute;
  left: 95%;
  top: 55%;
}

.team-img-2:before {
  content: "Fancy";
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #FFB3DC;
  position: absolute;
  left: -15%;
  transform: rotate(-34deg);
  top: 60%;
}

.team-img-2:after {
  content: "Nice";
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #41BBFF;
  transform: rotate(-41deg);
  position: absolute;
  left: 85%;
  top: 65%;
}

@media only screen and (max-width: 767px) {

  .team-img-1:before, .team-img-1:after,
  .team-img-2:before, .team-img-2:after {
    display: none;
  }
}

/*-----------------------------------------
14. Blog
-------------------------------------------*/
#blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-item {
  margin-bottom: 30px;
  box-shadow: 3.96478px 3.96478px 19.8239px rgba(205, 192, 192, 0.2);
  position: relative;
}

.post-img {
  border-radius: 0px 0px 19.8239px 19.8239px;
  width: 100%;
}

.blog-category {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.025em;
  color: rgba(0, 0, 0, 0.5);
}

.blog-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.025em;
}
.blog-title a{
  color: #000000;
}
.blog-item-info {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  bottom: -20px;
  background-color: #fff;
  height: 50%;
  border-radius: 0px 0px 19.8239px 19.8239px;
  box-shadow: 3.96478px 3.96478px 19.8239px rgba(205, 192, 192, 0.2);
}

.author-box {
  display: flex;
  justify-content: space-between;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.025em;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  .blog-info {
    text-align: center;
  }

  .blog-item-info {
    height: 25%;
  }

  .blog-mr {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 400px) {

  .blog-item-info {
    height: 50%;
  }

}

/*-----------------------------------------
15. Footer
-------------------------------------------*/
#footer {
  background-image: url('../img/content/footer-layer.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 70px;
  padding-bottom: 115px;
  background-color: #F7F4FB;
}

#copy {
  height: 80px;
  background: #FFFFFF;
}

#copy p {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 0;
}

.footer-title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.095em;
  color: #000000;
}

.footer-title span {
  font-weight: 900;
}

.about-comp {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.65);
}

.foot-list li {
  margin-bottom: 10px;
}

.foot-list li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.65);
}

.subscribe {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

.subscribe span {
  font-weight: 900;
}

.news-input {
  margin: 0;
  padding: 0.7rem 0.75rem;
  width: 250px;
  height: 41px;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px 0px 0px 50px;
}

.news-input:focus {
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 50px 0px 0px 50px !important;
}

.send-req {
  width: 53px;
  height: 41px;
  background: #7635F3;
  border-radius: 0px 50px 50px 0px;
}

.col-clone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width:992px) {
  .col-clone {
    margin-top: 40px;
  }
}

@media only screen and (max-width:767px) {
  #footer {
    text-align: center;
    padding-bottom: 55px;
  }

  .mr {
    margin-top: 30px;
  }
}
